---
---
@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#map {
  height: 80vh;
  width: 100%;
  background-color: #ccc;
}
#maincontent {
  margin-right: 1em;
  margin-left: 1em;
}
/**
* Style restaurant listing
*/
#restaurants-list{
  list-style: none;
  margin-left: -2.3em;
  display: grid;
  grid-template-columns: repeat(2, minmax(284px, 1fr));
  grid-gap: 1em;
  li {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    background-color: #d3d3d3;
  }
  .restaurant-img {
    display: block;
    width: 100%;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  }
  h1, p{
    padding-left: 1rem;
  }
  li a {
    background-color: #ffa500;
    border-bottom: 3px solid #d3d3d3;
    color: #2B2B2B;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  h1 {
    color: #7A5000;
    font-family: Arial,sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    font-size: 11pt;
  }
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
/*
Handle screen smaller than 568px)
*/

@media only screen and (max-width: 568px){
  #restaurants-list{
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
#restaurant-img {
  width: 100%;
}
/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
.leaflet-container a{
  color: #005475 !important;
}
/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 100%;
  background-color: #185D8C;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding-top: 0.5rem;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#footer {
  background-color: #444;
  color: #fff;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  a {
    color: #fff;
  }
}
.inside #footer {
  // bottom: 0;
  position: absolute;
  width: 100%;
}
#restaurant-name {
  padding-top: .6em;
}
ul#breadcrumb{
  padding-top: .6rem;
}
#reviews-container > h2{
  padding-top: .5rem
}