---
---
@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#map {
  height: 80vh;
  width: 100%;
  background-color: #ccc;
}
#maincontent {
  margin-right: 1em;
  margin-left: 1em;
}
/**
* Style restaurant listing
*/
#restaurants-list{
  list-style: none;
  margin-left: -2.3em;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-column-gap: 1em;
  .restaurant-img {
    display: block;
    width: 100%;
  }
}
/*
Handle screen smaller than 320px)
*/

@media only screen and (max-width: 568px){
  #restaurants-list{
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}